/* 共通部分 */

html {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif,'Yu Gothic UI', 'ヒラギノ角ゴシック','Hiragino Sans';
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  html {
    font-size: clamp(14px, calc(100vw / (1440 / 16)), 16px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.inview {
  opacity: 0;
  transform: translateY(70px);
  transition: opacity 1.5s, transform 1.5s;
}

.inview.show {
  opacity: 1;
  transform: translateY(0);
}

header li {
  list-style: none;
}

main li {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.common-title-area {
  width: 100%;
  height: 35rem;
  position: relative;
  padding-top: 5rem;
}

.common-title-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3rem;
}

.common-text-area {
  width: 50%;
  height: 25rem;
  background: linear-gradient(158deg, #0073e6 36.5%, #fff 119.5%);
  padding-left: 6.25rem;
  color: #fff;
}

.common-text-area h1 {
  font-family: 'Segoe UI Symbol',sans-serif;
  padding-top: 3.75rem;
  font-size: 4rem;
  letter-spacing: 0.4rem;
}

.common-text-area h2 {
  font-size: 2rem;
  letter-spacing: 0.4rem;
}

.common-img-area {
  position: absolute;
  top: 0;
  right: 0;
  width: 50rem;
  height: 35rem;
  padding-top: 9rem;
}

/* ヘッダー */

header {
  width: 100%;
  position: fixed;
  z-index: 6;
  height: 5rem;
  background-color: #fff;
  box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.05);
}

.header-inner {
  max-width: min(1440px, 100%);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 11.25rem;
}

.logo {
  width: 8rem;
  height: 8rem;
}

header .logo:hover {
  opacity: 0.5;
  transition: 0.5s ease;
}

.nav-list ul {
  display: flex;
  gap: 1.875rem;
  margin-right: 5.5rem;
  position: relative;
}

.nav-text a {
  color: #333333;
  border-bottom: 0.15rem solid #0073e6;
  padding-bottom: 0.125rem;
  font-weight: 500;
  font-size: 1.2rem;
}

.nav-text a:hover {
  opacity: 0.3;
  transition: 0.5s ease;
}

.nav-list img {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  margin-top: 0.5rem;
}

.contact-btn p {
  color: #fff;
  background-color: #0073e6;
  box-shadow: 0.1875rem 0.3125rem #195998;
  border-radius: 7rem;
  text-align: center;
  padding: 0.9375rem;
  transition: 0.5s ease;
  width: 10rem;
  position: absolute;
  top: 0.7rem;
  right: 5rem;
}

.contact-btn p:hover {
  background-color: #0073e68d;
  box-shadow: unset;
  transform: translate(0.1875rem,0.3125rem);
  transition: 0.5s ease;
}

.drawer_menu {
  display: none;
}

/* フッター */

.footer-area {
  padding-top: 3.125rem;
  background: linear-gradient(-22deg, #0073e6 36.5%, #fff 119.5%);
}

.footer-pc {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}

.name {
  padding: 0 1.7rem 1.7rem 1.7rem;
  border-radius: 1rem;
}

.name img {
  margin-left: -2.5rem;
}

.name a{
  color: #333333;
  font-weight: 700;
}

.name:hover {
  background-color: #fff;
  transition: 0.5s ease;
}

.company-name {
  font-size: 2.074rem;
  letter-spacing: 0.1037rem;
}

.postal-code {
  padding-top: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
}

.adress {
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
  line-height: 1.5;
}

.footer-nav {
  display: flex;
  gap: 6.25rem;
  line-height: 1.875;
  margin-top: 1.875rem;
  color: #fff;
}

.footer-nav p {
  margin: 0 -1.5rem 1rem;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
  font-weight: 700;
  border-bottom: 1px solid #fff;
  text-align: center;
}

.footer-nav p:hover {
  border-bottom: 1px solid rgb(253, 239, 119);
  transition: 0.5s ease;
}

.footer-nav p a:hover {
  color: rgb(253, 239, 119);
  transition: 0.5s ease;
}

.footer-nav a {
  color: #fff;
}

.footer-nav li a:hover{
  color: rgb(250, 240, 149);
  border-bottom: 1px solid rgb(250, 240, 149);
  transition: 0.5s ease;
}

.footer-services {
  width: 7.5rem;
}

.footer-company {
  width: 7.5rem;
}

.footer-company ul {
  padding: 0 1rem;
}

.footer-recruit {
  width: 7.5rem;
}

.footer-recruit ul {
  padding: 0 1rem;
}

.footer-nav ul li {
  padding-left: 0.5rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  line-height: 2;
}

.consulting-link {
  font-size: 0.8rem;
}

.contact-info {
  display: flex;
  gap: 1rem;
  margin-left: 60%;
  white-space: nowrap
}

.sns {
  text-align: center;
  width: 7rem;
  margin-right: 1rem;
  color: #1a1a1a;
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
}

.sns ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1rem;
}

.sns img {
  width: 1.5rem;
  height: 1.5rem;
}

.footer-contact-btn p {
  color: #333333;
  background-color: rgb(253, 239, 119);
  box-shadow: 0.1875rem 0.3125rem rgb(147, 147, 103);
  border: 1px solid rgb(147, 147, 103);
  border-radius: 7rem;
  padding: 2rem 4rem;
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
}

.footer-contact-btn p:hover {
  background-color: rgb(250, 240, 149);
  box-shadow: unset;
  transform: translate(0.1875rem,0.3125rem);
  transition: 0.5s ease;
}

.copyright {
  text-align: center;
  padding: 2rem;
  color: #fff;
}

.stalker {
  position: fixed;
  top: -5px;
  left: -5px;
  z-index: 999;
  width: 15px;
  height: 15px;
  background-color: rgba(255, 241, 114, 0.697);
  border-radius: 50%;
  opacity: 0.7;
  pointer-events: none;
  transition: transform .3s ease-out;
}

@media screen and (max-width: 767px) {

  html {
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  }

  header {
    height: 12rem;
    font-size: 1.5rem;
    padding: 0 10rem;
  }

  .logo {
    width: 14rem;
    height: 14rem;
    margin-top: 2rem;
  }

  .drawer_menu {
    display: block;
    margin-bottom: 2rem;
  }

  .nav-list {
    display: none;
  }

  .common-title-area {
    height: 65rem;
    padding-top: 12rem;
  }

  .common-text-area {
    height: 45rem;
  }

  .common-text-area h1 {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    padding-top: 7rem;
  }

  .common-text-area h2 {
    font-size: 3rem;
    letter-spacing: 0.7rem;
  }

  .common-img-area {
    padding-top: 30rem;
    width: 60rem;
    height: 65rem;
  }

/* モバイル版　メニューボタン */

  .drawer_menu * {
    font: inherit;
  }

  .drawer_button {
    margin-top: -2rem;
    width: 6rem;
    height: 4rem;
    position: relative;
    background: none;
    border: none;
    text-align: center;
    letter-spacing: 0.1em;
    z-index: 1001;
    color: #0073e6;
  }

  .drawer_button .drawer_bar {
    width: 6rem;
    height: 2px;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    background-color: #0073e6;
  }

  .drawer_button .drawer_bar_first {
    top: 0;
  }

  .drawer_button .drawer_bar_second {
    top: 50%;
  }

  .drawer_button .drawer_bar_third {
    top: 100%;
  }

  .drawer_button.active {
    color: #fff;
  }

  .drawer_button.active .drawer_bar {
    width: 6rem;
    left: 1.3rem;
    background-color: #fff;
  }

  .drawer_button.active .drawer_bar_first {
    transform: rotate(0.7854rad) translateY(-50%);
    top: 0px;
  }

  .drawer_button.active .drawer_bar_second {
    opacity: 0;
  }

  .drawer_button.active .drawer_bar_third {
    transform: rotate(-0.7854rad) translateY(-50%);
    top: calc(100% - 0px);
  }

  .drawer_button.active .drawer_menu_text {
    display: none;
  }

  .drawer_button.active .drawer_close {
    display: block;
  }

  .drawer_text {
    position: absolute;
    bottom: -4rem;
    left: 0;
    text-align: center;
    font-size: 1.8rem;
  }

  .drawer_close {
    letter-spacing: 0.08em;
    display: none;
  }

  .drawer_menu a {
    color: #fff;
  }

  .drawer_menu .drawer_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgba(51, 51, 51, 0.5);
    display: none;
    top: 0;
    left: 0;
  }

  .drawer_menu .drawer_nav_wrapper {
    width: 80%;
    height: 100%;
    transition: all 0.5s;
    transform: translate(800px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background: linear-gradient(-178deg, #0073e6 36.5%, #fff 119.5%);
  }

  .drawer_menu .drawer_nav_wrapper.open {
    transform: translate(0);
  }

  .drawer_menu.left .drawer_nav_wrapper {
    transform: translate(-80%);
    right: auto;
    left: 0;
  }

  .drawer_menu.left .drawer_nav_wrapper.open {
    transform: translate(0);
  }

  .drawer_menu .drawer_nav {
    padding: 25rem 10rem 10rem;
    color: #fff;
  }

  .drawer_menu .drawer_nav li {
    border-bottom: 1px solid #fff;
    padding: 2rem 0;
  }

  .drawer_menu .drawer_nav li h1 {
    font-size: 4.5rem;
  }

  .drawer_menu .drawer_nav li h2 {
    font-size: 3rem;
  }

  .drawer_sns {
    display: flex;
    gap: 5rem;
    padding-left: 10rem;
    margin-bottom: 5rem;
  }

  .drawer_sns img {
    width: 7rem;
    height: 7rem;
  }

  .menu-name {
    display: flex;
  }

  .menu-name img {
    width: 15rem;
    height: 15rem;
    margin-left: 8rem;
  }

  .menu-name-text {
    margin-top: 3rem;
    color: #333333;
  }

    /* モバイル版フッター */

  .footer-contact-btn {
    margin-top: 6.5rem;
  }

  .footer-contact-btn p {
    font-size: 2.074rem;
    letter-spacing: 0.1493rem;
    padding: 3rem 4rem;
    box-shadow: 0.3rem 0.6rem rgb(147, 147, 103);
    background-color: rgb(250, 211, 70);
    border-radius: 7rem;
  }

  .footer-area {
    position: relative;
    height: 45rem;
  }

  footer .logo {
    width: 13rem;
    height: 13rem;
  }

  .footer-pc {
    display: block;
  }

  .footer-mobile {
    display: flex;
    justify-content: space-around;
  }

  .company-name {
    font-size: 2.986rem;
    letter-spacing: 0.1493rem;
  }

  .postal-code {
    font-size: 2.074rem;
    letter-spacing: 0.1493rem;
  }

  .adress {
    font-size: 2.074rem;
    letter-spacing: 0.1493rem;
  }

  .footer-nav {
    display: none;
  }

  .contact-info {
    display: block;
    margin: 3rem 0 0 0;
  }

  .sns ul {
    justify-content: center;
  }

  .sns {
    width: 18rem;
    margin-right: 0;
  }

  .sns p {
    font-size: 2.074rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1493rem;
  }

  .sns img {
    width: 4rem;
    height: 4rem;
  }

  .copyright {
    margin: 2.5rem 0 10rem;
    font-size: 1.44rem;
    letter-spacing: 0.072rem;
  }

}