/* 会社概要 */

#information {
  width: 100%;
  padding: 5rem 0;
}

#information h1 {
  text-align: center;
  font-size: 2.074rem;
  color: #0073e6;
  letter-spacing: 0.2074rem;
  position: relative;
}

#information h1::before {
  background-color: #0073e6;
  border-radius: 5px;
  bottom: -1rem;
  content: "";
  height: 0.1rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 8rem;
}

#information h2 {
  font-family: 'Franklin Gothic Medium',sans-serif;
  font-weight: 900;
  font-size: 2.986rem;
  text-align: center;
  color: #0073e6;
  padding-bottom: 1rem;
  margin: 1rem auto;
  letter-spacing: 0.8rem;
}

#information h2 span {
  color: rgb(247, 194, 4);
  font-size: 4rem;
}

.info-list {
  width: 70%;
  margin: 5rem auto 0;
  color: #333333;
}

.info-list li {
  display: flex;
  padding: 1.5rem 0;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #0073e6, rgb(242, 233, 149)) 1;
}

.info-list li dt {
  width: 10rem;
  color: #0073e6;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
}

.info-list li dd {
  margin: 0 auto;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  padding-right: 10rem;
}

/* アクセス */

#access {
  width: 100%;
  position: relative;
  padding-top: 5rem;
  background-color: rgb(246, 246, 252);
  overflow: hidden;
}

#access h1 {
  text-align: center;
  font-size: 2.074rem;
  color: #0073e6;
  letter-spacing: 0.2074rem;
  position: relative;
}

#access h1::before {
  background-color: #0073e6;
  border-radius: 5px;
  bottom: -1rem;
  content: "";
  height: 0.1rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 8rem;
}

#access h2 {
  font-family: 'Franklin Gothic Medium',sans-serif;
  font-weight: 900;
  font-size: 2.986rem;
  text-align: center;
  color: #0073e6;
  padding-bottom: 1rem;
  margin: 1rem auto;
  letter-spacing: 0.8rem;
}

#access h2 span {
  color: rgb(247, 194, 4);
  font-size: 4rem;
}

.access-list {
  padding: 0 11rem;
}

.head-office {
  padding-top: 5rem;
}

.sales-office {
  padding-top: 10rem;
}

.office-title {
  padding: 1rem;
  margin-bottom: 3rem;
  background: linear-gradient(to right, #0073e6a1, rgb(246, 246, 252));
  border-radius: 0.5rem;
  text-align: center;
  color: #333333;
}

.office-info {
  display: flex;
  gap: 4rem;
}

.office-info iframe {
  width: 55%;
  height: 28rem;
  border-radius: 3rem;
  margin: auto 0;
}

.office-info iframe:hover {
  opacity: 0.5;
}

.office-textarea {
  margin: auto 0;
  width: 45%;
}

.text-list li {
  display: flex;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #0073e6, rgb(242, 233, 149)) 1;
  align-items: center;
  padding: 1.5rem 0;
}

.text-list li dt {
  width: 6.25rem;
  color: #0073e6;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
}

.text-list li dd {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  color: #333333;
}

.slide-logo {
  display: flex;
  white-space: nowrap;
  position: absolute;
  top: 0;
  writing-mode: vertical-rl;
  height: 82rem;
}

.slide-logo p {
  font-family: 'Segoe UI Historic',sans-serif;
  color: #fff;
  font-size: 12rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.slide-logo-main {
  left: -8%;
}

.slide-logo-sub {
  right: -8%;
}

.slide-logo-main p {
  animation: loop2 15s linear infinite;
}

.slide-logo-sub p {
  animation: loop3 15s linear infinite;
}

@keyframes loop2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes loop3 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.top-btn p {
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
  color: #333333;
  background-color: rgb(253, 239, 119);
  box-shadow: 0.1875rem 0.3125rem rgb(147, 147, 103);
  border: 0.125rem solid rgb(147, 147, 103);
  border-radius: 7rem;
  text-align: center;
  width: 11rem;
  margin: 5rem 0 5rem 80%;
  padding: 2rem 4rem;
  transition: 0.3s ease;
}

.top-btn p:hover {
  background-color: rgb(250, 240, 149);
  box-shadow: unset;
  transform: translate(0.1875rem,0.3125rem);
}

@media screen and (max-width: 767px) {

  /* モバイル版　会社概要 */

  #information {
    padding: 10rem 0;
  }

  #information h1 {
    font-size: 2.986rem;
    letter-spacing: 0.2986rem;
  }

  #information h2 {
    font-size: 6rem;
    text-align: center;
    letter-spacing: 0.6rem;
  }

  #information h2 span {
    font-size: 7rem;
  }

  .info-list {
    width: 80%;
  }

  .info-list li {
    padding: 3rem 0;
  }

  .info-list li dt {
    font-size: 2.8rem;
    white-space: nowrap;
  }

  .info-list li dd {
    font-size: 2.488rem;
  }

  /* モバイル版　アクセス */

  #access {
    padding: 10rem 0;
  }

  #access h1 {
    font-size: 2.986rem;
    letter-spacing: 0.2986rem;
  }

  #access h2 {
    font-size: 6rem;
    text-align: center;
    letter-spacing: 0.6rem;
  }

  #access h2 span {
    font-size: 7rem;
  }

  .access-list {
    padding: 0 10rem;
  }

  .office-title {
    font-size: 2.488rem;
  }

  .text-list li {
    padding: 3rem 0;
  }

  .text-list li dt {
    font-size: 2.3rem;
    white-space: nowrap;
  }

  .text-list li dd {
    font-size: 2.074rem;
  }

  .office-info {
    align-items: center;
  }

  .office-info iframe {
    margin-top: 4rem;
    width: 85%;
  }

  .office-textarea {
    width: 85%;
  }

  .head-office .office-info{
    flex-direction: column-reverse;
  }

  .sales-office .office-info{
    flex-direction: column;
  }

  .text-list li dd {
    margin: 0 auto;
  }

  .top-btn p {
    font-size: 2.074rem;
    letter-spacing: 0.1493rem;
    padding: 2rem 4rem;
    box-shadow: 0.3rem 0.6rem rgb(147, 147, 103);
    background-color: rgb(250, 211, 70);
    text-align: center;
    width: 12.5rem;
    margin: 10rem 0 5rem 75%;
  }

}