/* お問い合わせ */

.contact-guide {
  margin: 5rem 0;
  text-align: center;
  line-height: 3rem;
  display: flex;
  justify-content: center;
}

.guide-text p {
  border-bottom: 0.125rem dotted #0073e691;
  font-size: 1.44rem;
  color: #333;
  white-space: nowrap;
}

.contact-guide img {
  margin: 3.5rem 0 0 0.5rem;
  width: 6rem;
  height: 6rem;
}

.contact-form {
  padding-top: 5rem;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {

  .contact-guide {
    margin: 3rem 0;
    line-height: 1.8;
    padding: 0 1rem 0 2rem;
  }

  .guide-text p {
    font-size: 0.8rem;
    line-height: 1.8;
  }

  .contact-guide img {
    width: 50px;
    height: 50px;
    margin-left: 0;
    margin-top: 2rem;
  }

  .contact-form {
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
  }
}