/* タイトルエリア */

.title-area {
  width: 100%;
  height: 35rem;
  position: relative;
  padding-top: 5rem;
}

.text-area {
  width: 50%;
  height: 25rem;
  background: linear-gradient(158deg, #0073e6 36.5%, #fff 119.5%);
  padding-left: 6.25rem;
  color: #fff;
}

.text-area h1 {
  font-family: 'Segoe UI Symbol',sans-serif;
  padding-top: 3.75rem;
  font-size: 4rem;
  letter-spacing: 0.4rem;
}

.text-area h2 {
  font-size: 2rem;
  letter-spacing: 0.4rem;
}

.img-area {
  position: absolute;
  top: 0;
  right: 0;
  width: 50rem;
  height: 35rem;
  padding-top: 9rem;
}

.title-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3rem;
}

/* お問い合わせ */

.contact-gide {
  margin: 5rem 0;
  text-align: center;
  line-height: 3rem;
  display: flex;
  justify-content: center;
}

.gide-text p {
  border-bottom: 0.125rem dotted #0073e691;
  font-size: 1.44rem;
  color: #333333;
}

.contact-gide img {
  margin: 3.5rem 0 0 0.5rem;
  width: 6rem;
  height: 6rem;
}


.background {
  padding-bottom: 7rem;
  background-color: #0073e6;
}

.background {
  position: relative;
}

.background::before {
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 4rem 100vw 0 0;
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
}

#contact {
  padding-top: 10rem;
}

#contact h1 {
  text-align: center;
  font-size: 2rem;
  color: #0073e6;
  letter-spacing: 0.2rem;
  position: relative;
}

#contact h1::before {
  background-color: #0073e6;
  border-radius: 5px;
  bottom: -1rem;
  content: "";
  height: 0.1rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 8rem;
}

#contact h2 {
  font-family: 'Franklin Gothic Medium',sans-serif;
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  color: #0073e6;
  padding-bottom: 1rem;
  margin: 1rem auto 5rem;
  letter-spacing: 0.5rem;
}

#contact h1 span {
  color: rgb(247, 194, 4);
  font-size: 2.5rem;
}

.contact-form {
  padding-top: 5rem;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
    /* モバイル版　タイトルエリア */

  .title-area {
    height: 65rem;
    padding-top: 12rem;
  }

  .text-area {
    height: 45rem;
  }

  .text-area h1 {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    padding-top: 7rem;
  }

  .text-area h2 {
    font-size: 3rem;
    letter-spacing: 0.7rem;
  }

  .img-area {
    padding-top: 30rem;
    width: 60rem;
    height: 65rem;
  }

  .contact-form {
    width: 100%;
    margin: 0;
  }

  .contact-gide {
    margin: 10rem 0;
  }

  .gide-text p {
    font-size: 2rem;
    line-height: 3.5rem;
  }

  .contact-gide img {
    width: 8rem;
    height: 8rem;
  }

  #contact h1 {
    font-size: 2.986rem;
    letter-spacing: 0.2986rem;
  }

  #contact h2 {
    font-size: 6rem;
    text-align: center;
    letter-spacing: 0.6rem;
  }

  #contact h2 span {
    font-size: 7rem;
  }

  .footer-contact-btn {
    margin-left: 5rem;
  }

}