/* お問い合わせ */

.contact-guide {
  margin: 5rem 0;
  text-align: center;
  line-height: 3rem;
  display: flex;
  justify-content: center;
}

.guide-text p {
  border-bottom: 0.125rem dotted #0073e691;
  font-size: 1.44rem;
  color: #333333;
}

.contact-guide img {
  margin: 3.5rem 0 0 0.5rem;
  width: 6rem;
  height: 6rem;
}


.section-background--blue {
  padding-bottom: 7rem;
  background-color: #0073e6;
}

.section-background--blue {
  position: relative;
}

.section-background--blue::before {
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 4rem 100vw 0 0;
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
}

#contact {
  padding-top: 10rem;
}

#contact h1 {
  text-align: center;
  font-size: 2rem;
  color: #0073e6;
  letter-spacing: 0.2rem;
  position: relative;
}

#contact h1::before {
  background-color: #0073e6;
  border-radius: 5px;
  bottom: -1rem;
  content: "";
  height: 0.1rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 8rem;
}

#contact h2 {
  font-family: 'Franklin Gothic Medium',sans-serif;
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  color: #0073e6;
  padding-bottom: 1rem;
  margin: 1rem auto 5rem;
  letter-spacing: 0.5rem;
}

#contact h1 span {
  color: rgb(247, 194, 4);
  font-size: 2.5rem;
}

.contact-form {
  padding-top: 5rem;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  /* モバイル版　タイトルエリア */

  .contact-form {
    width: 100%;
    margin: 0;
  }

  .contact-guide {
    margin: 10rem 0;
  }

  .guide-text p {
    font-size: 2rem;
    line-height: 3.5rem;
  }

  .contact-guide img {
    width: 8rem;
    height: 8rem;
  }

  #contact h1 {
    font-size: 2.986rem;
    letter-spacing: 0.2986rem;
  }

  #contact h2 {
    font-size: 6rem;
    text-align: center;
    letter-spacing: 0.6rem;
  }

  #contact h2 span {
    font-size: 7rem;
  }

  /* お問い合わせフォームページではフッターに問い合わせボタンが無いため、
   TOPボタン用に footer-contact-btn の余白を調整 */
  .footer-contact-btn {
    margin-left: 5rem;
  }

}