/* メインビジュアル */

#keyvisual {
  width: 100%;
  height: 46.75rem;
  padding-top: 5rem;
}

.swiper-wrapper {
  margin-left: 25rem;
  overflow: hidden;
}

.swiper-img,
.swiper-slide img {
  max-width: 63rem;
  height: 37rem;
}

.swiper-img {
  overflow: hidden;
  position: relative;
}

.swiper-slide img {
  object-fit: cover;
  object-position: center;
  transform: scale(1);
  transition: transform 7s linear;
}

.swiper-slide-active img {
  transform: scale(1.15);
}

.swiper-slide-duplicate-active img {
  transform: scale(1.15);
}

.swiper-slide-prev img {
  transform: scale(1.15);
}

#keyvisual h1 {
  font-size: 4rem;
  color: #fff;
  background-color: #0073e6;
  padding: 1rem;
  position: absolute;
  top: 13rem;
  left: 5rem;
  z-index: 5;
  transform: rotate(-5deg);
}

.keyvisual-text {
  font-size: 1.3rem;
  color: #0073e6;
  background-color: #fff;
  padding: 1rem;
  position: absolute;
  top: 28rem;
  left: 7rem;
  z-index: 5;
  transform: rotate(-3deg);
  border: 2px solid #0073e6;
}

#keyvisual svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.scroll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1.5rem;
  color: #fff;
  font-size: 1.728rem;
}

/* 事業内容 */

#services {
  padding: 5rem 0 0;
}

#services h1 {
  text-align: center;
  font-size: 2.074rem;
  color: #0073e6;
  letter-spacing: 0.2074rem;
  position: relative;
}

#services h1::before {
  background-color: #0073e6;
  border-radius: 5px;
  bottom: -1rem;
  content: "";
  height: 0.1rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 8rem;
}

#services h2 {
  font-family: 'Franklin Gothic Medium',sans-serif;
  font-weight: 900;
  font-size: 2.986rem;
  text-align: center;
  color: #0073e6;
  padding-bottom: 1rem;
  margin: 1rem auto;
  letter-spacing: 0.8rem;
}

#services h2 span {
  color: rgb(247, 194, 4);
  font-size: 4rem;
}

.services-list {
  margin: 5rem 8rem 10rem;
  position: relative;
  height: 30rem;
}

.services-list li {
  position: absolute;
  top: 0;
  z-index: 1;
  overflow: hidden;
  border-radius: 0.5rem;
  height: 30rem;
}

.service1 {
  left: 0;
}

.service2 {
  left: 50%;
  transform: translateX(-50%);
}

.service3 {
  right: 0;
}

.services-list img {
  width: 20rem;
  height: 30rem;
  object-fit: cover;
  position: relative;
  transition: transform .6s ease;
}

.services-list img:hover {
  transform: scale(1.3);
}

.services-list p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  color: #fff;
  font-size: 2.074rem;
  letter-spacing: 0.1037rem;
  line-height: 1.5;
  text-align: center;
  font-weight: 700;
  background-color: #ffffff59;
  padding: 1rem;
  border-radius: 0.5rem;
}

.services-list span {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  color: #fff;
  font-size: 1.44rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.144rem;
  white-space: nowrap
}

.list-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20rem;
  height: 6rem;
  z-index: 2;
}

.service1-bottom {
  background: radial-gradient(circle,rgba(250, 230, 55, 0.414), rgba(250, 230, 55, 0.036));
}

.service2-bottom {
  background: radial-gradient(circle,#ffffff59,#ffffff17);
}

.service3-bottom {
  background: radial-gradient(circle,#0073e678,#0073e60c);
}

.link-btn p {
  margin-left: 75%;
  margin-bottom: 10rem;
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
  color: #fff;
  background-color: #0073e6;
  box-shadow: 0.1875rem 0.3125rem #195998;
  border-radius: 7rem;
  text-align: center;
  padding: 2rem 4rem;
  width: 17rem;
  transition: 0.3s ease;
}

.link-btn p:hover {
  background-color: #0073e68d;
  box-shadow: unset;
  transform: translate(0.1875rem,0.3125rem);
}

.section-background--blue {
  padding-bottom: 7rem;
  background-color: #0073e6;
  position: relative;
  overflow: hidden;
}

.section-background--blue::before {
  border-color: transparent rgb(246, 246, 252) transparent transparent;
  border-style: solid;
  border-width: 4rem 100vw 0 0;
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
}

/* 番組制作実績 */

#project {
  background-color: rgb(246, 246, 252);
  padding: 10rem 3rem;
}

#project h1 {
  text-align: center;
  font-size: 2.074rem;
  color: #0073e6;
  letter-spacing: 0.2074rem;
  position: relative;
}

#project h1::before {
  background-color: #0073e6;
  border-radius: 5px;
  bottom: -1rem;
  content: "";
  height: 0.1rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 8rem;
}

#project h2 {
  font-family: 'Franklin Gothic Medium',sans-serif;
  font-weight: 900;
  font-size: 2.986rem;
  text-align: center;
  color: #0073e6;
  padding-bottom: 1rem;
  margin: 1rem auto 5rem;
  letter-spacing: 0.8rem;
}

#project h2 span {
  color: rgb(247, 194, 4);
  font-size: 4rem;
}

.program-list {
  display: flex;
}

.program-flex {
  display: flex;
  justify-content: center;
}

.program-card {
  color: #333333;
  width: 20rem;
  background-color: #fff;
  margin: 0.5rem;
  height: 26rem;
  box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.05);
  padding: 1rem 0;
  text-align: center;
  border-radius: 0.5rem;
}

.program-card img {
  width: 16rem;
  height: 12rem;
  object-fit: contain;
  margin: 1rem auto;
}

.program-card h3 {
  font-size: 1rem;
  text-align: left;
  margin-left: 2.5rem;
}

.program-card p {
  font-size: 0.833rem;
  text-align: left;
  margin-left: 2.5rem;
  margin-top: 0.5rem;
}

.program-card h4 {
  font-size: 0.833rem;
}

/* 会社情報・採用情報 */

#company {
  width: 100%;
  height: 40.5rem;
  background-image: url(../img/officebuilding.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#company .title-area {
  padding: 3.75rem 7.5rem;
  background-color: #0073e6ac;
  width: 45%;
}

.title-area h1 {
  font-family: 'Segoe UI Symbol',sans-serif;
  font-size: 4.7rem;
  letter-spacing: 0.47rem;
  color: #fff;
  text-align: center;
}

.title-area h2 {
  padding-top: 1rem;
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
  color: #fff;
}

.info-list {
  position: absolute;
  top: 0;
  right: 5%;
  background-color: #ffffffc4;
  width: 40%;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 8rem;
}

.info-list li {
  display: flex;
  margin: 1rem;
  line-height: 2;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #0073e6, rgb(242, 233, 149)) 1;
}

.info-list li dt {
  width: 8rem;
  color: #0073e6;
  font-size: 1.44rem;
  letter-spacing: 0.072rem;
  font-weight: 700;
}

.info-list li dd {
  color: #333333;
  margin: 0 auto;
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
}

.company-link-btn {
  margin-top: 15rem;
  margin-left: 22rem;
}

.company-link-btn p {
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
  color: #0073e6;
  background-color: #fff;
  box-shadow: 0.1875rem 0.3125rem #0073e6;
  border: 1px solid #0073e6;
  border-radius: 7rem;
  text-align: center;
  padding: 2rem 4rem;
  width: 17rem;
  transition: 0.3s ease;
}

.company-link-btn p:hover {
  background-color: #0073e6;
  color: #fff;
  box-shadow: unset;
  transform: translate(0.1875rem,0.3125rem);
}

.company-recruit h2 {
  font-family: 'Franklin Gothic Medium',sans-serif;
  font-weight: 900;
  font-size: 2.986rem;
  text-align: center;
  color: #0073e6;
  margin: 3rem auto;
  letter-spacing: 1rem;
}

.company-recruit .yellow {
  color: rgb(247, 194, 4);
  font-size: 4rem;
}

.company-recruit .and {
  color: #0073e6;
  font-size: 2.5rem;
  font-weight: 200;
}

#recruit {
  width: 100%;
  height: 40.5rem;
  background-image: url(../img/recruit-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#recruit .title-area {
  padding: 3.75rem 7.5rem;
  background-color: rgba(250, 230, 55, 0.452);
  width: 45%;
  margin-left: 49.5rem;
}

#recruit .title-area h2 {
  margin-left: 2.5rem;
}

.recruit-text {
  color: #333333;
  position: absolute;
  top: 0;
  left: 5%;
  background-color: #ffffffc4;
  width: 40%;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 8rem;
}

.recruit-text p {
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
  line-height: 2;
  margin: 1rem;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #0073e6, rgb(242, 233, 149)) 1;
}

.recruit-link-btn {
  margin-top: 15rem;
  margin-left: 22rem;
}

.recruit-link-btn p {
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
  color: rgb(247, 194, 4);
  background-color: #fff;
  box-shadow: 0.1875rem 0.3125rem rgb(247, 194, 4);
  border: 1px solid rgb(247, 194, 4);
  border-radius: 7rem;
  text-align: center;
  padding: 2rem 4rem;
  width: 17rem;
  transition: 0.3s ease;
}

.recruit-link-btn p:hover {
  background-color: rgb(247, 194, 4);
  color: #fff;
  box-shadow: unset;
  border: none;
  transform: translate(0.1875rem,0.3125rem);
}

/* お問い合わせ */

#contact-area {
  text-align: center;
  background-color: rgb(246, 246, 252);
  padding-top: 5rem;
}

.title {
  display: flex;
  justify-content: center;
  overflow: hidden;
  color: rgb(247, 194, 4);
  opacity: 0.7;
  font-size: 2.488rem;
  letter-spacing: 0.2488rem;
}

.title span {
  display: block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible span {
  transform: translate(0, 0);
}

.title span:nth-child(2) {
  transition-delay: 0.06s;
}
.title span:nth-child(3) {
  transition-delay: 0.12s;
}
.title span:nth-child(4) {
  transition-delay: 0.18s;
}
.title span:nth-child(5) {
  transition-delay: 0.24s;
}
.title span:nth-child(6) {
  transition-delay: 0.30s;
}
.title span:nth-child(7) {
  transition-delay: 0.36s;
}

#contact-area h2 {
  font-size: 2.986rem;
  letter-spacing: 0.1493rem;
  padding-bottom: 1rem;
  color: #0073e6;
  border-bottom: 2px dotted #0073e6;
  width: 50%;
  margin: 2rem auto 3rem;
}

.contact-text {
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 0.05rem;
  margin-bottom: 5rem;
  color: #333333;
}

.contact-area-btn {
  height: 7rem;
}

.contact-area-btn p {
  color: #fff;
  background-color: #0073e6c9;
  box-shadow: 0.1875rem 0.3125rem #195998;
  border-radius: 7rem;
  text-align: center;
  padding: 2rem 4rem;
  font-size: 1.44rem;
  letter-spacing: 0.072rem;
  width: 21rem;
  margin: 0 auto;
  transition: 0.3s ease;
}

.contact-area-btn p:hover {
  background-color: #0073e68d;
  box-shadow: unset;
  transform: translate(0.1875rem,0.3125rem);
}

.btn-area {
  height: 10rem;
  background-color: rgb(246, 246, 252);
  padding-top: 5rem;
  height: 16rem;
}

.top-btn p {
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
  color: #333333;
  background-color: rgb(253, 239, 119);
  box-shadow: 0.1875rem 0.3125rem rgb(147, 147, 103);
  border: 0.125rem solid rgb(147, 147, 103);
  border-radius: 7rem;
  text-align: center;
  width: 11rem;
  margin: 0 0 5rem 80%;
  padding: 2rem 4rem;
  transition: 0.3s ease;
}

.top-btn p:hover {
  background-color: rgb(250, 240, 149);
  box-shadow: unset;
  transform: translate(0.1875rem,0.3125rem);
}

@media screen and (max-width: 767px) {

/* モバイル版　メインビジュアル */

  #keyvisual {
  width: 100%;
  height: 80rem;
  padding-top: 6.5rem;
}

.swiper-wrapper {
  margin-left: 0;
}

@media (max-width: 767px) {
  .swiper-img,
  .swiper-slide img {
    max-width: none;
    width: 100%;
    height: 65rem;
  }
}

.swiper-img {
  overflow: hidden;
  position: relative;
}

.swiper-slide img {
  object-fit: cover;
  object-position: center;
  transform: scale(1);
  transition: transform 7s linear;
}

#keyvisual h1 {
  font-size: 5rem;
  color: #fff;
  background-color: #0073e6;
  padding: 1rem;
  position: absolute;
  top: 40rem;
  left: 5rem;
  z-index: 5;
  transform: rotate(-5deg);
}

.keyvisual-text {
  font-size: 1.7rem;
  color: #0073e6;
  background-color: #fff;
  padding: 1rem;
  position: absolute;
  top: 55rem;
  left: 7rem;
  z-index: 5;
  transform: rotate(-3deg);
  border: 1px solid #0073e6;
}

/* モバイル版　事業内容 */

  #services h1 {
    font-size: 2.986rem;
    letter-spacing: 0.2986rem;
  }

  #services h2 {
    font-size: 6rem;
    text-align: center;
    letter-spacing: 0.6rem;
  }

  #services h2 span {
    font-size: 7rem;
  }

  .services-list {
    height: 100rem;
  }

  .services-list li {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 0.5rem;
  }

  .services-list img {
    width: 100%;
  }

  .service1 {
    margin-bottom: 5rem;
  }

  .service2 {
    margin-bottom: 5rem;
  }

  .service1 p {
    top: 25%;
    left: 17%;
    font-size: 2.986rem;
    background-color: #89878759;
  }

  .service2 p {
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.986rem;
    background-color: #89878759;
  }

  .service3 p {
    top: 25%;
    left: 80%;
    font-size: 2.986rem;
    background-color: #89878759;
  }

  .services-list span {
    bottom: 4%;
    font-size: 2.07rem;
    letter-spacing: 0.27rem;
  }

  .list-bottom {
    width: 100%;
    height: 5.5rem;
  }

  .link-btn p {
    box-shadow: 0.3rem 0.6rem #195998;
    padding: 3rem 4rem;
    font-size: 2.074rem;
    width: 25rem;
    margin-left: 65%;
  }

/* モバイル版　番組制作実績 */

  #project {
    padding: 10rem 1.5rem;
  }

  #project h1 {
    font-size: 2.986rem;
    letter-spacing: 0.2986rem;
  }

  #project h2 {
    font-size: 6rem;
    text-align: center;
    letter-spacing: 0.6rem;
  }

  #project h2 span {
    font-size: 7rem;
  }

  .program-list {
    display: block;
  }

  .program-card {
    width: 40rem;
    height: 52rem;
    margin: 1rem;
  }

  .program-card img {
    width: 32rem;
    height: 24rem;
  }

  .program-card h3 {
    font-size: 2.488rem;
  }

  .program-card h4 {
    font-size: 1.728rem;
  }

  .sub-title {
    text-align: left;
    margin-left: 2.5rem;
  }

  .program-card p {
    font-size: 2.074rem;
  }

/* モバイル版　会社情報・採用情報 */

  #company {
    height: 68rem;
  }

  #company .title-area {
    width: 50%;
  }

  #company .title-area h2 {
    margin-left: 3rem;
  }

  .info-list {
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    margin-top: 21rem;
  }

  .info-list li dt {
    width: 15rem;
    font-size: 2.488rem;
    letter-spacing: 0.1244rem;
  }

  .info-list li dd {
    font-size: 2.074rem;
    letter-spacing: 0.1037rem;
  }

  .company-link-btn {
    margin-top: 36rem;
    margin-left: 50rem;
  }

  .company-link-btn p {
    font-size: 2.074rem;
    letter-spacing: 0.1493rem;
    padding: 3rem 4rem;
    box-shadow: 0.3rem 0.6rem #0073e6;
    width: 25rem;
  }

  #recruit {
    height: 68rem;
  }

  #recruit .title-area {
    width: 50%;
    margin-left: 45rem;
  }

  #recruit .title-area h2 {
    margin-left: 5rem;
  }

  .recruit-text {
    width: 60%;
    margin-top: 21rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .recruit-text p {
    font-size: 2.074rem;
    padding: 0.5rem;
  }

  .recruit-link-btn {
    margin-top: 36rem;
    margin-left: 20rem;
  }

  .recruit-link-btn p {
    font-size: 2.074rem;
    letter-spacing: 0.1493rem;
    padding: 3rem 4rem;
    box-shadow: 0.3rem 0.6rem rgb(250, 211, 70);
    width: 25rem;
  }

/* モバイル版お問い合わせ */

  .title {
    font-size: 4rem;
    letter-spacing: 0.4rem;
  }

  #contact-area {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }

  #contact-area h2 {
    font-size: 5rem;
    width: 70%;
  }

  #contact-area p {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  .contact-area-btn p {
    box-shadow: 0.3rem 0.6rem #195998;
    padding: 3rem 4rem;
    font-size: 2.986rem;
    width: 35rem;
  }

  .btn-area {
    height: 17rem;
  }

  .top-btn p {
    font-size: 2.074rem;
    letter-spacing: 0.1493rem;
    padding: 2rem 4rem;
    box-shadow: 0.3rem 0.6rem rgb(147, 147, 103);
    background-color: rgb(250, 211, 70);
    text-align: center;
    width: 12.5rem;
  }
}