/* タブエリア */

#recruit-btn-area {
  padding-top: 5rem;
}

.tab-container {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.tab p {
  color: #333333;
  border-bottom: 0.2rem solid #0073e6;
  padding: 0 1rem;
  text-align: center;
  font-size: 1.728rem;
  opacity: 0.5;
  transition-duration: 0.3s;
}

.tab p:hover {
  transform: scale(1.1);
}

.tab.active p {
  opacity: 1;
}

.tab-new {
  padding: 0.5rem 7rem;
  border-left: 0.1rem solid #999999;
  border-right: 0.1rem solid #999999;
}

.tab-mid {
  padding: 0.5rem 7rem;
  border-right: 0.1rem solid #999999;
}

.content {
  display: none;
}

.content.show {
  display: block;
}

/* 採用概要 */

.new-graduate-text {
  text-align: center;
  font-size: 1rem;
  color: #333333;
  letter-spacing: 0.072rem;
  line-height: 1.5;
  margin-bottom: 10rem;
}

.content h1 span {
  color: rgb(247, 194, 4);
  font-size: 2.5rem;
}

.services-list {
  margin: 5rem 8rem;
  position: relative;
  height: 30rem;
}

.services-list li {
  position: absolute;
  top: 0;
  z-index: 1;
  overflow: hidden;
  border-radius: 0.5rem;
  height: 30rem;
}

.service1 {
  left: 0;
}

.service2 {
  left: 50%;
  transform: translateX(-50%);
}

.service3 {
  right: 0;
}

.services-list img {
  width: 20rem;
  height: 30rem;
  object-fit: cover;
  position: relative;
  transition: transform .6s ease;
}

.services-list img:hover {
  transform: scale(1.3);
}

.services-list p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  background-color: #ffffff59;
  padding: 1rem;
  border-radius: 0.5rem;
}

.services-list span {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
}

.list-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20rem;
  height: 6rem;
  z-index: 2;
}

.service1-bottom {
  background: radial-gradient(circle,rgba(250, 230, 55, 0.414), rgba(250, 230, 55, 0.036));
}

.service2-bottom {
  background: radial-gradient(circle,#ffffff59,#ffffff17);
}

.service3-bottom {
  background: radial-gradient(circle,#0073e678,#0073e60c);
}

.content svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* 募集要項 */

.general-position {
  padding: 0 0 10rem;
}

.job-description-title-area {
  background-color: #0073e6;
  border-radius: 3rem;
  margin-left: 7rem;
  width: 20rem;
  padding: 2rem;
  position: relative;
}

.job-description-title-area h3 {
  font-family: 'Franklin Gothic Medium',sans-serif;
  font-weight: 900;
  font-size: 2.488rem;
  color: #fff;
  letter-spacing: 0.5rem;
  position: relative;
  text-align: center;
  margin-bottom: 0.5rem;
  z-index: 2;
}

.job-description-title-area h4 {
  font-size: 1.728rem;
  color: #fff;
  letter-spacing: 0.1728rem;
  text-align: center;
  background-color: rgb(247, 194, 4);

  position: absolute;
  top: 70%;
  left: 30%;
  transform: translateX(20%);
  z-index: 1;
  border-radius: 3rem;
  padding: 0 1rem;
  white-space: nowrap;
}

.job-description-title-area h4 span {
  font-size: 2.074rem;
}

.work-content {
  margin: 5.5rem auto 5rem;
  font-size: 1rem;
  color: #333333;
  letter-spacing: 0.072rem;
  line-height: 1.5;
  width: 70%;
}

.employment-title {
  padding: 0.625rem;
  background: linear-gradient(to right, #0073e6a1, rgb(246, 246, 252));
  border-radius: 0.3125rem;
  margin: 3.75rem auto;
  width: 40%;
  text-align: center;
}

.employment-title h5{
  font-size: 1.728rem;
  letter-spacing: 0.1728rem;
  color: #333333;
}

.employment-title span {
  font-size: 1.44rem;
  letter-spacing: 0.144rem;
  color: #333333;
}

.job-info-list {
  width: 70%;
  margin: 5rem auto 0;
  color: #333333;
}

.job-info-list div {
  display: flex;
  padding: 1.5rem 0;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #0073e6, rgb(242, 233, 149)) 1;
}

.job-info-list dt {
  width: 11rem;
  color: #0073e6;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
}

.job-info-list dd {
  margin: 0 auto;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding-right: 10rem;
}

#recruit-flow {
  background-color: rgb(246, 246, 252);
  padding-bottom: 10rem;
}

.flow-title {
  position: relative;
  background-color: #0073e6;
  height: 9rem;
  text-align: center;
  letter-spacing: 2rem;
  overflow: hidden;
}

.flow-title h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 3rem;
  z-index: 2;
  color: #fff;
  letter-spacing: 0.4rem;
}

.flow-title span {
  position: absolute;
  z-index: 1;
  font-size: 1rem;
  color: rgb(246, 246, 252);
  font-weight: 800;
  opacity: 0.8;
}

.flow-title .title-top {
  top: 20%;
  left: 2rem;
}

.flow-title .title-bottom {
  bottom: 20%;
  right: 0;
}

.flow-introduce {
  text-align: center;
  margin: 7rem 8rem 5rem;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;
}

.flow-list {
  padding: 0 5rem 5rem;
}

.flow-list li {
  position: relative;
  display: flex;
  justify-content: center;
}

.flow-img-bg {
  position: absolute;
  top: 0;
  left: 6rem;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background-color: #fff;
  border: 1px dotted #0073e6;
}

.flow-img {
  position: absolute;
  top: 1rem;
  left: 7rem;
  width: 7rem;
  height: 7rem;
}

.step2 {
  top: 1.5rem;
  left: 7.5rem;
  width: 6.5rem;
  height: 6.5rem;
}

.flow-text {
  width: 85%;
  margin: 5.5rem 0 1rem;
  padding: 4rem;
  background-color: #fff;
  border-radius: 3rem;
  border: 1px solid #0073e6;
  display: flex;
  gap: 2rem;
}

.flow-list h4 {
  width: 20%;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.6rem;
  color: #0073e6;
  white-space: nowrap;
}

.flow-list p {
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

@media screen and (max-width: 1024px) {

  .footer-pc{
    padding: 0 1.5rem;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .footer-nav{
    flex-wrap: wrap;
    gap: 3rem;
  }

  .contact-info{
    margin-left: 0;
    width: 100%;
    justify-content: flex-end;
    padding: 0 1.5rem 1.5rem;
    white-space: normal;
  }
}

@media screen and (max-width: 767px) {

  #recruit-btn-area {
    padding-top: 6vw;
  }

  .tab-container{
    justify-content: space-between;
    padding: 0 4vw 6vw;
    gap: 0;
  }

  .tab-new,.tab-mid{
    padding: 0;
    flex: 1;
  }

  .tab {
    text-align: center;
  }

  .tab p{
    font-size: 4.4vw;
    padding: 0.6em 0;
    display: inline-block;
  }

  .title-line1 {
    padding-top: 8vw;
  }

  .content h1 span {
    font-size: 8.5vw;
  }

  .new-graduate-text {
    font-size: 4.2vw;
    margin-bottom: 20vw;
  }

  .job-description-title-area {
    position: relative;
    width: 45%;
    margin-left: 1rem;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.5vw 4vw;
    border-radius: 999px;
    overflow: visible;
  }

  .job-description-title-area h3 {
    font-size: 6vw;
    letter-spacing: 0.12em;
    width: 55%;
    text-align: center;
  }

  .job-description-title-area h4 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-20%);
    font-size: 4vw;
    letter-spacing: 0.08em;
    padding: 0.3em 0.9em;
    border-radius: 999px;
    white-space: nowrap;
  }

  .job-description-title-area h4 span {
    font-size: 1.15em;
  }

  .work-content{
    width: 88%;
    font-size: 4vw;
    margin: 8vw auto;
  }

  .general-position {
    padding-bottom: 8vw;
  }

  .job-info-list{
    width: 90%;
    margin-top: 0;
  }

  .job-info-list div {
    display: block;
    padding: 4.5vw 0;
  }

  .job-info-list dt{
    width: auto;
    font-size: 4.6vw;
    margin-bottom: 1.5vw;
    white-space: normal;
  }

  .job-info-list dd{
    margin: 0;
    padding-right: 0;
    font-size: 4.1vw;
    line-height: 1.6;
    letter-spacing: 0.05em;
  }

  .job-info-list dd br {
    display: none;
  }

  #recruit-flow {
    padding-bottom: 20vw;
  }

  .flow-title{
    height: auto;
    padding: 8vw 0;
    letter-spacing: 0;
    position: relative;
  }

  .flow-title span {
    font-size: 3vw;
    opacity: 0.6;
    white-space: nowrap;
  }

  .flow-title .title-top {
    top: 15%;
    left: 12%;
    transform: translateX(-50%);
  }

  .flow-title .title-bottom {
    bottom: 15%;
    left: 88%;
    right: auto;
    transform: translateX(-50%);
  }

  .flow-title h3{
    position: static;
    transform: none;
    font-size: 7.2vw;
    letter-spacing: 0.08em;
  }

  .flow-introduce{
    margin: 8vw 5vw 4vw;
    font-size: 4vw;
    letter-spacing: 0.02em;
  }

  .flow-introduce br {
    display: none;
  }

  .flow-list {
    padding: 0 4vw 8vw;
  }

  .flow-list li{
    display: block;
    padding-top: 10vw;
  }

  .flow-img-bg{
    left: 1.5rem;
    transform: none;
    top: 3vw;
    width: 18vw;
    height: 18vw;
    z-index: 2;
  }

  .flow-img{
    top: 5.5vw;
    width: 12vw;
    height: 12vw;
    z-index: 2;
    left: 2.1rem;
    transform: none;
  }

  .step2{
    top: 7vw;
    left: 2.2rem;
    transform: none;
    width: 11vw;
    height: 11vw;
    z-index: 2;
  }

  .flow-text{
    width: 100%;
    margin: -3vw 0 0;
    padding: 5vw 5vw;
    border-radius: 6vw;
    display: block;
    position: relative;
    z-index: 1;
  }

  .flow-list h4 {
    width: auto;
    font-size: 4.9vw;
    letter-spacing: 0.12em;
    text-align: center;
    margin-bottom: 2vw;
  }

  .flow-list p {
    font-size: 4vw;
    text-align: center;
  }

  .contact-info{
    padding: 0 0 1.5rem 3rem;
  }
}
