/* タブエリア */

#recruit-btn-area {
  padding-top: 5rem;
}

.tab-container {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.tab p {
  color: #333333;
  border-bottom: 0.2rem solid #0073e6;
  padding: 0 1rem;
  text-align: center;
  font-size: 1.728rem;
  opacity: 0.5;
  transition-duration: 0.3s;
}

.tab p:hover {
  transform: scale(1.1);
}

.tab.active p {
  opacity: 1;
}

.tab-new {
  padding: 0.5rem 7rem;
  border-left: 0.1rem solid #999999;
  border-right: 0.1rem solid #999999;
}

.tab-mid {
  padding: 0.5rem 7rem;
  border-right: 0.1rem solid #999999;
}

.content {
  display: none;
}
.content.show {
  display: block;
}

/* 採用概要 */

.new-graduate-text {
  text-align: center;
  font-size: 1rem;
  color: #333333;
  letter-spacing: 0.072rem;
  line-height: 1.5;
  margin-bottom: 5rem;
}

.section-background--blue {
  padding-bottom: 7rem;
  background-color: #0073e6;
  position: relative;
  overflow: hidden;
}

.section-background--blue::before {
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 4rem 100vw 0 0;
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
}

.content {
  padding-top: 7rem;
}

.content h1 {
  text-align: center;
  font-size: 2rem;
  color: #0073e6;
  letter-spacing: 0.2rem;
  position: relative;
}

.content h1::before {
  background-color: #0073e6;
  border-radius: 5px;
  bottom: -1rem;
  content: "";
  height: 0.1rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 8rem;
}

.content h2 {
  font-family: 'Franklin Gothic Medium',sans-serif;
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  color: #0073e6;
  margin: 1rem auto 5rem;
  letter-spacing: 0.5rem;
}

.content h1 span {
  color: rgb(247, 194, 4);
  font-size: 2.5rem;
}

.services-list {
  margin: 5rem 8rem;
  position: relative;
  height: 30rem;
}

.services-list li {
  position: absolute;
  top: 0;
  z-index: 1;
  overflow: hidden;
  border-radius: 0.5rem;
  height: 30rem;
}

.service1 {
  left: 0;
}

.service2 {
  left: 50%;
  transform: translateX(-50%);
}

.service3 {
  right: 0;
}

.services-list img {
  width: 20rem;
  height: 30rem;
  object-fit: cover;
  position: relative;
  transition: transform .6s ease;
}

.services-list img:hover {
  transform: scale(1.3);
}

.services-list p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  background-color: #ffffff59;
  padding: 1rem;
  border-radius: 0.5rem;
}

.services-list span {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
}

.list-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20rem;
  height: 6rem;
  z-index: 2;
}

.service1-bottom {
  background: radial-gradient(circle,rgba(250, 230, 55, 0.414), rgba(250, 230, 55, 0.036));
}

.service2-bottom {
  background: radial-gradient(circle,#ffffff59,#ffffff17);
}

.service3-bottom {
  background: radial-gradient(circle,#0073e678,#0073e60c);
}

.content svg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* 募集要項 */

.general-position {
  padding: 0 0 10rem;
}

.job-description-title-area {
  background-color: #0073e6;
  border-radius: 3rem;
  margin-left: 7rem;
  width: 20rem;
  padding: 2rem;
}

.job-description-title-area h3 {
  font-family: 'Franklin Gothic Medium',sans-serif;
  font-weight: 900;
  font-size: 2.488rem;
  color: #fff;
  letter-spacing: 0.5rem;
  position: relative;
  text-align: center;
  margin-bottom: 0.5rem;
}

.job-description-title-area h4 {
  font-size: 1.728rem;
  color: #fff;
  letter-spacing: 0.1728rem;
  text-align: center;
  background-color: rgb(247, 194, 4);
  position: absolute;
  left: 15rem;
  border-radius: 3rem;
  padding: 0 1rem;
  white-space: nowrap;
}

.job-description-title-area h4 span {
  font-size: 2.074rem;
}

.work-content {
  margin: 5.5rem auto 5rem;
  font-size: 1rem;
  color: #333333;
  letter-spacing: 0.072rem;
  line-height: 1.5;
  width: 70%;
}

.employment-title {
  padding: 0.625rem;
  background: linear-gradient(to right, #0073e6a1, rgb(246, 246, 252));
  border-radius: 0.3125rem;
  margin: 3.75rem auto;
  width: 40%;
  text-align: center;
}

.employment-title h5{
  font-size: 1.728rem;
  letter-spacing: 0.1728rem;
  color: #333333;
}

.employment-title span {
  font-size: 1.44rem;
  letter-spacing: 0.144rem;
  color: #333333;
}

.info-list {
  width: 70%;
  margin: 5rem auto 0;
  color: #333333;
}

.info-list li {
  display: flex;
  padding: 1.5rem 0;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #0073e6, rgb(242, 233, 149)) 1;
}

.info-list li dt {
  width: 11rem;
  color: #0073e6;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
}

.info-list li dd {
  margin: 0 auto;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding-right: 10rem;
}

#recruit-flow {
  background-color: rgb(246, 246, 252);
}

.flow-title {
  position: relative;
  background-color: #0073e6;
  height: 9rem;
  text-align: center;
  letter-spacing: 2rem;
  overflow: hidden;
}

.flow-title h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 3rem;
  z-index: 2;
  color: #fff;
  letter-spacing: 0.4rem;
}

.flow-title span {
  position: absolute;
  z-index: 1;
  font-size: 1rem;
  color: rgb(246, 246, 252);
  font-weight: 800;
  opacity: 0.8;
}

.flow-title .title-top {
  top: 20%;
  left: 2rem;
}

.flow-title .title-bottom {
  bottom: 20%;
  right: 0;
}

.flow-introduce {
  text-align: center;
  margin: 7rem 8rem 5rem;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;
}

.flow-list {
  padding: 0 5rem;
}

.flow-list li {
  position: relative;
  display: flex;
  justify-content: center;
}

.flow-img-bg {
  position: absolute;
  top: 0;
  left: 6rem;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background-color: #fff;
  border: 1px dotted #0073e6;
}

.flow-img {
  position: absolute;
  top: 1rem;
  left: 7rem;
  width: 7rem;
  height: 7rem;
}

.step2 {
  top: 1.5rem;
  left: 7.5rem;
  width: 6.5rem;
  height: 6.5rem;
}

.flow-text {
  width: 85%;
  margin: 5.5rem 0 1rem;
  padding: 4rem;
  background-color: #fff;
  border-radius: 3rem;
  border: 1px solid #0073e6;
  display: flex;
  gap: 2rem;
}

.flow-list h4 {
  width: 20%;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.6rem;
  color: #0073e6;
}

.flow-list p {
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

.apply-btn {
  text-align: center;
  padding: 5rem 0;
}

  .apply-btn p {
    color: #fff;
    background-color: #0073e6;
    box-shadow: 0.1875rem 0.3125rem #195998;
    border-radius: 7rem;
    text-align: center;
    padding: 2rem 4rem;
    font-size: 1.44rem;
    letter-spacing: 0.072rem;
    transition: 0.3s ease;
    width: 20rem;
    margin: 0 auto;
  }

  .apply-btn p:hover {
    background-color: #0073e68d;
    box-shadow: unset;
    transform: translate(4px,4px);
  }

.top-btn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 1000;
}

.top-btn p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
  color: #333333;
  background-color: rgb(253, 239, 119);
  box-shadow: 0.1875rem 0.3125rem rgb(147, 147, 103);
  border: 0.125rem solid rgb(147, 147, 103);
  border-radius: 7rem;
}

.top-btn.is-show {
  opacity: 1;
  visibility: visible;
}

.top-btn p:hover {
  background-color: rgb(250, 240, 149);
  box-shadow: unset;
  transform: translate(4px,4px);
}

@media screen and (max-width: 767px) {

  /* モバイル版　タイトルエリア */

  .tab p {
    font-size: 2.986rem;
  }

  /* 採用情報 */

  .content h1 {
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
  }

  .content h2 {
    font-size: 6rem;
    text-align: center;
    letter-spacing: 0.6rem;
  }

  .content h1 span {
    color: rgb(247, 194, 4);
    font-size: 2.986rem;
  }

  .new-graduate-text {
    font-size: 2.986rem;
  }

  .services-list {
    height: 100rem;
  }

  .services-list li {
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 0.5rem;
  }

  .services-list img {
    width: 100%;
  }

  .service1 {
    margin-bottom: 5rem;
  }

  .service2 {
    margin-bottom: 5rem;
  }

  .service1 p {
    top: 25%;
    left: 17%;
    font-size: 2.986rem;
    background-color: #89878759;
  }

  .service2 p {
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.986rem;
    background-color: #89878759;
  }

  .service3 p {
    top: 25%;
    left: 80%;
    font-size: 2.986rem;
    background-color: #89878759;
  }

  .services-list span {
    bottom: 4%;
    font-size: 2.07rem;
    letter-spacing: 0.27rem;
  }

  .list-bottom {
    width: 100%;
    height: 5.5rem;
  }

  /* モバイル版募集要項 */

  .job-description-title-area {
    width: 30rem;
  }

  .job-description-title-area h3 {
    font-size: 5rem;
    letter-spacing: 0.5rem;
  }

  .job-description-title-area h4 {
    font-size: 3rem;
    letter-spacing: 0.3rem;
  }

  .job-description-title-area h4 span {
    font-size: 3.5rem;
  }

  .work-content {
    font-size: 2.986rem;
    margin: 8rem auto 5rem;
  }

  .employment-title {
    padding: 1rem 4rem;
    background: linear-gradient(to right, #0073e6a1, rgb(246, 246, 252));
    border-radius: 0.5rem;
    margin: 3.75rem auto;
  }

  .employment-title h5{
    font-size: 3.5rem;
    letter-spacing: 0.35rem;
  }

  .employment-title span {
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }

  .info-list {
    width: 80%;
  }

  .info-list li {
    padding: 3rem 0;
  }

  .info-list li dt {
    font-size: 2.8rem;
    white-space: nowrap;
    width: 20rem;
  }

  .info-list li dd {
    font-size: 2.4rem;
  }

  /* 採用フロー */

  .flow-title {
    height: 15rem;
  }

  .flow-title h3 {
    font-size: 5rem;
    letter-spacing: 0.5rem;
  }

  .flow-introduce {
    font-size: 2.986rem;
    letter-spacing: 0.2986;
    line-height: 1.5;
  }

  .flow-list p {
    font-size: 2.488rem;
  }

  .flow-list h4 {
    width: 50%;
    font-weight: 700;
    font-size: 2.986rem;
    color: #0073e6;
  }

  .flow-img-bg {
  position: absolute;
  top: -2rem;
  left: 1rem;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background-color: #fff;
  border: 1px dotted #0073e6;
}

.flow-img {
  position: absolute;
  top: 0;
  left: 3rem;
  width: 9rem;
  height: 9rem;
}

.flow-text {
  margin: 5.5rem 0;
}

.apply-btn {
  text-align: center;
  padding: 7rem 0 10rem 0;
}

  .apply-btn p {
    color: #fff;
    background-color: #0073e6;
    box-shadow: 0.4rem 1rem #195998;
    border: 1px solid #0073e6;
    border-radius: 6rem;
    text-align: center;
    padding: 3rem 4rem;
    font-size: 3.5rem;
    width: 40rem;
  }

  .top-btn p {
    font-size: 2.074rem;
    letter-spacing: 0.1493rem;
    padding: 2rem 4rem;
    box-shadow: 0.3rem 0.6rem rgb(147, 147, 103);
    background-color: rgb(250, 211, 70);
    text-align: center;
    width: 12.5rem;
  }

}