/* タイトルエリア */

.title-area {
  width: 100%;
  height: 25rem;
  position: relative;
  padding-top: 5rem;
}

.text-area {
  width: 50%;
  height: 25rem;
  background: linear-gradient(158deg, #0073e6 36.5%, #fff 119.5%);
  padding-left: 6.25rem;
  color: #fff;
}

.text-area h1 {
  font-family: 'Segoe UI Symbol',sans-serif;
  padding-top: 3.75rem;
  font-size: 4rem;
  letter-spacing: 0.4rem;
}

.text-area h2 {
  font-size: 2rem;
  letter-spacing: 0.4rem;
}

.img-area {
  position: absolute;
  top: 0;
  right: 0;
  width: 50rem;
  height: 35rem;
  padding-top: 9rem;
}

.title-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3rem;
}

/* 事業内容　概要 */

#s-services {
  padding: 15rem 0 10rem;
  background-color: rgb(246, 246, 252);
}

#s-services h1 {
  text-align: center;
  font-size: 2.074rem;
  color: #0073e6;
  letter-spacing: 0.2074rem;
  position: relative;
}

#s-services h1::before {
  background-color: #0073e6;
  border-radius: 5px;
  bottom: -1rem;
  content: "";
  height: 0.1rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 8rem;
}

#s-services h2 {
  font-family: 'Franklin Gothic Medium',sans-serif;
  font-weight: 900;
  font-size: 2.986rem;
  text-align: center;
  color: #0073e6;
  padding-bottom: 1rem;
  margin: 1rem auto;
  letter-spacing: 0.8rem;
}

#s-services h2 span {
  color: rgb(247, 194, 4);
  font-size: 4rem;
}

.services-gide {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  width: 27rem;
  height: 10rem;
  line-height: 2;
  color: #333333;
  background-color: #ffffff75;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.05);
}

.circle-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin: 8rem 8rem 0;
}

.circle {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: 1px solid #0073e6;
  text-align: center;
  background-color: #fff;
}

.circle-logo {
  width: 25rem;
  height: 25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}

#s-services .circle-title {
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  background-color: #0073e6;
  box-shadow: 0.4rem 0.4rem 0.4rem #7ebaf6;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.06rem;
  transition: 0.3s;
}

#s-services .circle-title:hover {
  letter-spacing: 0.2rem;
  scale: 1.15;
}

#s-services .circle-title span {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.3rem;
}

.circle-position {
  position: relative;
  margin: 0 auto;
}

.program-production-circle {
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
}

.s-services-flex {
  display: flex;
  gap: 15rem;
  position: absolute;
  top: 13rem;
  left: 50%;
  transform: translateX(-50%);
}

/* 事業内容　詳細 */

.background {
  padding-bottom: 7rem;
  background-color: #0073e6;
}

.background {
  position: relative;
}
.background::before {
  border-color: transparent #ffffff transparent transparent;
  border-style: solid;
  border-width: 4rem 100vw 0 0;
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
}

.services-gide-title span {
  font-size: 5rem;
  color: #0073e6;
  font-weight: 700;
  opacity: 0.6;
  margin-right: 1rem;
}

.services-gide-title h2 {
  font-size: 2.488rem;
  letter-spacing: 0.2985rem;
  margin: 2rem 0 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #0073e6;
  color: #0073e6;
}

#program-production {
  padding-bottom: 5rem;
  margin-top: 5rem;
}

.services-gide-title {
  padding: 0 8rem;
}

.services-gide-flex {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding: 0 8rem;
}

.services-gide-text {
  width: 50%;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  color: #333333;
}

.services-img img {
  border-radius: 1.875rem;
  object-fit: cover;
  width: 40rem;
  height: 20rem;
}

.achievement-content img {
  border-radius: 1.875rem;
  object-fit: cover;
  width: 40rem;
  height: 20rem;
}

.services-img {
  width: 50%;
}

.production-results {
  color: #0073e6;
  border-bottom: 1px solid #0073e6;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1rem;
}

.achievement-title {
  text-align: center;
  margin-bottom: 3rem;
}

#program-production h3 {
  font-family: 'Franklin Gothic Medium',sans-serif;
  font-weight: 900;
  font-size: 2.074rem;
  color: #0073e6;
  letter-spacing: 0.5rem;
  position: relative;
}

#program-production h3:before,h3:after{
  position:absolute;
  top: 50%;
  width: 2rem;
  content:'';
  border-top:solid 0.2rem #0073e6;
}

#program-production h3:before {
  left: 38%;
}

#program-production h3:after{
  right: 38%;
}

#program-production h4 {
  font-size: 1.44rem;
  color: #0073e6;
  letter-spacing: 0.144rem;
}

#program-production h4 span {
  color: rgb(247, 194, 4);
  font-size: 1.728rem;
}

.achievement {
  background-color: rgb(246, 246, 252);
  padding: 3rem 0;
  margin-top: 3rem;
}

.achievement-content {
  text-align: center;
  width: 100%;
}

.swiper-text h5 {
  font-size: 1.44rem;
  letter-spacing: 0.144rem;
  padding: 1rem 0;
  color: #333333;
}

.swiper-text p {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  width: 40rem;
  margin: 0 auto;
  color: #333333;
}

.swiper-button-prev {
  padding-left: 8rem;
}

.swiper-button-next {
  padding-right: 8rem;
}

.swiper-pagination-bullets {
  position: static;
  margin-top: 3rem;
}

.swiper-pagination-bullet {
  width: 1.3rem !important;
  height: 1.3rem !important;
  margin: 0 0 0 1rem !important;
  background: #333 !important;
}

.swiper-pagination-bullet:first-child {
  margin: 0 !important;
}

#ses {
  padding-bottom: 5rem;
}

.ses-img {
  display: flex;
}

#ses img {
  border-radius: 1.875rem;
  object-fit: cover;
  width: 40rem;
  height: 20rem;
}

.pie-chart-1 {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-image: conic-gradient(#0073e6 70%, #a3cef9 70% 100%);
}

.pie-chart-1 span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #333333;
    font-weight: 600;
    font-size: 1.1em;
}

.speechBubble {
  position: relative;
  display: inline-block;
  margin-bottom: 15rem;
  padding: 1.5rem 0.5rem;
  border: 0.125rem solid #999999;
  border-radius: 3rem;
  background-color: #ffffff;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: #999999;
}

.speechBubble::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-style: solid;
  border-width: 1.25rem 1.25rem 0 0;
  border-color: #999999 transparent transparent;
  translate: -50% 100%;
}

.speechBubble::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-style: solid;
  border-width: 0.95rem 0.95rem 0 0;
  border-color: #ffffff transparent transparent;
  translate: calc(-50% - 0.025rem) 100%;
}

#employment-introduction {
  padding: 0 8rem 5rem;
}

#employment-introduction img {
  border-radius: 1.875rem;
  object-fit: cover;
  width: 40rem;
  height: 20rem;
}

#ses h3 {
  font-family: 'Franklin Gothic Medium',sans-serif;
  font-weight: 900;
  font-size: 2.074rem;
  color: #0073e6;
  letter-spacing: 0.5rem;
  position: relative;
}

#ses h3:before,h3:after{
  position:absolute;
  top: 50%;
  width: 2rem;
  content:'';
  border-top:solid 0.2rem #0073e6;
}

#ses h3:before {
  left: 38%;
}

#ses h3:after{
  right: 38%;
}

#ses h4 {
  font-size: 1.44rem;
  color: #0073e6;
  letter-spacing: 0.144rem;
}

#ses h4 span {
  color: rgb(247, 194, 4);
  font-size: 1.728rem;
}


/* お問い合わせ */

#contact-area {
  text-align: center;
  background-color: rgb(246, 246, 252);
  padding-top: 5rem;
}

.title {
  display: flex;
  justify-content: center;
  overflow: hidden;
  color: rgb(247, 194, 4);
  opacity: 0.7;
  font-size: 2.488rem;
  letter-spacing: 0.2488rem;
}

.title span {
  display: block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible span {
  transform: translate(0, 0);
}

.title span:nth-child(2) {
  transition-delay: 0.06s;
}
.title span:nth-child(3) {
  transition-delay: 0.12s;
}
.title span:nth-child(4) {
  transition-delay: 0.18s;
}
.title span:nth-child(5) {
  transition-delay: 0.24s;
}
.title span:nth-child(6) {
  transition-delay: 0.30s;
}
.title span:nth-child(7) {
  transition-delay: 0.36s;
}

#contact-area h2 {
  font-size: 2.986rem;
  letter-spacing: 0.1493rem;
  padding-bottom: 1rem;
  color: #0073e6;
  border-bottom: 2px dotted #0073e6;
  width: 50%;
  margin: 2rem auto 3rem;
}

.contact-text {
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 0.05rem;
  margin-bottom: 5rem;
  color: #333333;
}

.contact-area-btn {
  height: 7rem;
}

.contact-area-btn p {
  color: #fff;
  background-color: #0073e6c9;
  box-shadow: 0.1875rem 0.3125rem #195998;
  border-radius: 7rem;
  text-align: center;
  padding: 2rem 4rem;
  font-size: 1.44rem;
  letter-spacing: 0.072rem;
  transition: 0.3s ease;
  width: 21rem;
  margin: 0 auto;
}

.contact-area-btn p:hover {
  background-color: #0073e68d;
  box-shadow: unset;
  border: none;
  transform: translate(4px,4px);
}

.btn-area {
  height: 10rem;
  background-color: rgb(246, 246, 252);
  padding-top: 5rem;
  height: 16rem;
}

.top-btn p {
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
  color: #333333;
  background-color: rgb(253, 239, 119);
  box-shadow: 0.1875rem 0.3125rem rgb(147, 147, 103);
  border: 0.125rem solid rgb(147, 147, 103);
  border-radius: 7rem;
  text-align: center;
  width: 11rem;
  margin: 0 0 5rem 80%;
  padding: 2rem 4rem;
  transition: 0.3s ease;
}

.top-btn p:hover {
  background-color: rgb(250, 240, 149);
  box-shadow: unset;
  transform: translate(4px,4px);
}

@media screen and (max-width: 767px) {

  /* モバイル版　タイトルエリア */

  .title-area {
    height: 57rem;
    padding-top: 12rem;
  }

  .text-area {
    height: 45rem;
  }

  .text-area h1 {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    padding-top: 7rem;
  }

  .text-area h2 {
    font-size: 3rem;
    letter-spacing: 0.7rem;
  }

  .img-area {
    padding-top: 30rem;
    width: 60rem;
    height: 65rem;
  }

  /* モバイル版　事業内容 概要 */

  #s-services {
    padding: 20rem 0 5rem;
  }

  #s-services h1 {
    font-size: 2.986rem;
    letter-spacing: 0.2986rem;
  }

  #s-services h2 {
    font-size: 6rem;
    text-align: center;
    letter-spacing: 0.6rem;
  }

  #s-services h2 span {
    font-size: 7rem;
  }

  .circle-flex {
    display: block;
    margin: 0 8rem;
  }

  .services-gide {
    font-size: 2.986rem;
    letter-spacing: 0.1493rem;
    margin-top: 5rem;
    width: 100%;
    height: 29rem;
    padding: 3rem;
  }

  .circle-position {
    margin-top: 15rem;
  }

  #s-services .circle-title {
    width: 20rem;
    height: 20rem;
    line-height: 20rem;
    font-size: 2.488rem;
    margin-top: -5rem;
    box-shadow: 0.7rem 0.7rem 0.7rem #7ebaf6;
    letter-spacing: 0.144rem;
  }

  .circle {
    margin: 10rem auto;
    width: 40rem;
    height: 40rem;
  }

  .circle-logo {
    top: 55%;
  }

.s-services-flex {
  gap: 20rem;
  top: 20rem;
}

  /* モバイル版　事業内容 詳細 */

  .services-gide-title span {
    font-size: 7rem;
  }

  .services-gide-title h2 {
    font-size: 5rem;
  }

  .services-gide-flex {
    flex-direction: column-reverse;
  }

  .services-gide-text {
    font-size: 2.986rem;
    margin: 0 auto;
    width: 100%;
  }

  .services-img {
    width: 100%;
    text-align: center;
  }

  #program-production h3 {
    font-size: 4rem;
  }

  #program-production h3:before {
    left: 35%;
  }

  #program-production h3:after{
    right: 35%;
  }

  #program-production h4 {
    font-size: 3rem;
  }

  #program-production h4 span {
    font-size: 3.5rem;
  }

  .achievement {
  padding: 6rem 0;
  margin-top: 6rem;
}

  .swiper-text h5 {
    font-size: 3rem;
  }

  .swiper-text p {
    font-size: 2.5rem;
  }

  .services-img img {
    object-fit: cover;
    width: 60rem;
    height: 30rem;
  }

  #ses h3 {
    font-size: 4rem;
  }

  #ses h3:before {
    left: 35%;
  }

  #ses h3:after{
    right: 35%;
  }

  #ses h4 span {
    font-size: 3rem;
  }

  #ses h4 {
    font-size: 2.5rem;
  }

  .pie-chart-1 {
    width: 30rem;
    height: 30rem;
    margin: 0 2rem 0 25%;
  }

  .speechBubble {
    font-size: 2.986rem;
    padding: 3rem 2rem 1.5rem;
    border: 0.3rem solid #999999;
  }

  .speechBubble::before {
    left: 20%;
  }

  .speechBubble::after {
    left: 20%;
  }

  #employment-introduction img {
    object-fit: cover;
    width: 60rem;
    height: 30rem;
  }


/* モバイル版お問い合わせ */

  .title {
    font-size: 4rem;
    letter-spacing: 0.4rem;
  }

  #contact-area {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }

  #contact-area h2 {
    font-size: 5rem;
    width: 70%;
  }

  #contact-area p {
    font-size: 2rem;
    line-height: 3.5rem;
    margin-bottom: 10rem;
  }

  .contact-area-btn p {
    box-shadow: 0.3rem 0.6rem #195998;
    padding: 3rem 4rem;
    font-size: 2.986rem;
    width: 35rem;
  }

  .btn-area {
    height: 17rem;
  }

  .top-btn p {
    font-size: 2.074rem;
    letter-spacing: 0.1493rem;
    padding: 2rem 4rem;
    box-shadow: 0.3rem 0.6rem rgb(147, 147, 103);
    background-color: rgb(250, 211, 70);
    text-align: center;
    width: 12.5rem;
  }
}