/* タイトルエリア */

.common-title-area {
  height: 25rem;
}

/* 事業内容　概要 */

#s-services {
  padding: 15rem 0 10rem;
  background-color: rgb(246, 246, 252);
}

#s-services h1 {
  text-align: center;
  font-size: 2.074rem;
  color: #0073e6;
  letter-spacing: 0.2074rem;
  position: relative;
}

#s-services h1::before {
  background-color: #0073e6;
  border-radius: 5px;
  bottom: -1rem;
  content: "";
  height: 0.1rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 8rem;
}

#s-services h2 {
  font-family: 'Franklin Gothic Medium',sans-serif;
  font-weight: 900;
  font-size: 2.986rem;
  text-align: center;
  color: #0073e6;
  padding-bottom: 1rem;
  margin: 1rem auto;
  letter-spacing: 0.8rem;
}

#s-services h2 span {
  color: rgb(247, 194, 4);
  font-size: 4rem;
}

.services-guide {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  width: 27rem;
  height: 10rem;
  line-height: 2;
  color: #333333;
  background-color: #ffffff75;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.05);
}

.circle-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin: 8rem 8rem 0;
}

.circle {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: 1px solid #0073e6;
  text-align: center;
  background-color: #fff;
}

.circle-logo {
  width: 25rem;
  height: 25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}

#s-services .circle-title {
  width: 11rem;
  height: 11rem;
  line-height: 10rem;
  background-color: #0073e6;
  box-shadow: 0.4rem 0.4rem 0.4rem #7ebaf6;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.06rem;
  transition: 0.3s;
}

#s-services .circle-title:hover {
  letter-spacing: 0.2rem;
  scale: 1.15;
}

#s-services .circle-title span {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.3rem;
}

.consulting-circle span {
  font-size: 0.9rem;
}

.circle-position {
  position: relative;
  margin: 0 auto;
}

.program-production-circle {
  position: absolute;
  top: -6rem;
  left: 50%;
  transform: translateX(-50%);
}

.s-services-flex {
  display: flex;
  gap: 15rem;
  position: absolute;
  top: 13rem;
  left: 50%;
  transform: translateX(-50%);
}

/* 事業内容　詳細 */

.section-background--blue {
  padding-bottom: 7rem;
  background-color: #0073e6;
  position: relative;
  overflow: hidden;
}

.section-background--blue::before {
  border-color: transparent #ffffff transparent transparent;
  border-style: solid;
  border-width: 4rem 100vw 0 0;
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
}

.services-guide-title span {
  font-size: 5rem;
  color: #0073e6;
  font-weight: 700;
  opacity: 0.6;
  margin-right: 1rem;
}

.services-guide-title h2 {
  font-size: 2.488rem;
  letter-spacing: 0.2985rem;
  margin: 2rem 0 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #0073e6;
  color: #0073e6;
}

#program-production {
  padding-bottom: 5rem;
  margin-top: 5rem;
}

.services-guide-title {
  padding: 0 8rem;
}

.services-guide-flex {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  padding: 0 8rem;
}

.services-guide-text {
  width: 50%;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  color: #333333;
}

.services-img img {
  border-radius: 1.875rem;
  object-fit: cover;
  width: 40rem;
  height: 20rem;
}

.services-img {
  width: 50%;
}

.production-results {
  color: #0073e6;
  border-bottom: 1px solid #0073e6;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1rem;
}

.achievement-title {
  text-align: center;
  margin-bottom: 3rem;
}

#program-production h3 {
  font-family: 'Franklin Gothic Medium',sans-serif;
  font-weight: 900;
  font-size: 2.074rem;
  color: #0073e6;
  letter-spacing: 0.5rem;
  position: relative;
}

#program-production h3:before,h3:after{
  position:absolute;
  top: 50%;
  width: 2rem;
  content:'';
  border-top:solid 0.2rem #0073e6;
}

#program-production h3:before {
  left: 38%;
}

#program-production h3:after{
  right: 38%;
}

#program-production h4 {
  font-size: 1.44rem;
  color: #0073e6;
  letter-spacing: 0.144rem;
}

#program-production h4 span {
  color: rgb(247, 194, 4);
  font-size: 1.728rem;
}

.achievement {
  background-color: rgb(246, 246, 252);
  padding: 3rem 8rem;
  margin-top: 3rem;
}

.achievement p {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin: 0 auto;
  color: #333333;
  text-align: center;
}

#ses {
  padding-bottom: 5rem;
}

#ses h3 {
  font-family: 'Franklin Gothic Medium',sans-serif;
  font-weight: 900;
  font-size: 2.074rem;
  color: #0073e6;
  letter-spacing: 0.5rem;
  position: relative;
}

#ses h3:before,h3:after{
  position:absolute;
  top: 50%;
  width: 2rem;
  content:'';
  border-top:solid 0.2rem #0073e6;
}

#ses h3:before {
  left: 38%;
}

#ses h3:after{
  right: 38%;
}

#ses h4 {
  font-size: 1.44rem;
  color: #0073e6;
  letter-spacing: 0.144rem;
}

#ses h4 span {
  color: rgb(247, 194, 4);
  font-size: 1.728rem;
}

#consulting {
  padding-bottom: 7rem;
}


/* お問い合わせ */

#contact-area {
  text-align: center;
  background-color: rgb(246, 246, 252);
  padding: 5rem 0;
}

#contact-area h1 {
  font-size: 2.986rem;
  letter-spacing: 0.1493rem;
  padding-bottom: 1rem;
  color: #0073e6;
  border-bottom: 2px dotted #0073e6;
  width: 50%;
  margin: 2rem auto 3rem;
}

.contact-text {
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 0.05rem;
  margin-bottom: 5rem;
  color: #333333;
}

.contact-area-btn {
  height: 7rem;
}

.contact-area-btn p {
  color: #fff;
  background-color: #0073e6c9;
  box-shadow: 0.1875rem 0.3125rem #195998;
  border-radius: 7rem;
  text-align: center;
  padding: 2rem 4rem;
  font-size: 1.44rem;
  letter-spacing: 0.072rem;
  transition: 0.3s ease;
  width: 21rem;
  margin: 0 auto;
}

.contact-area-btn p:hover {
  background-color: #0073e68d;
  box-shadow: unset;
  border: none;
  transform: translate(4px,4px);
}

.top-btn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 1000;
}

.top-btn p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
  color: #333333;
  background-color: rgb(253, 239, 119);
  box-shadow: 0.1875rem 0.3125rem rgb(147, 147, 103);
  border: 0.125rem solid rgb(147, 147, 103);
  border-radius: 7rem;
}

.top-btn.is-show {
  opacity: 1;
  visibility: visible;
}

.top-btn p:hover {
  background-color: rgb(250, 240, 149);
  box-shadow: unset;
  transform: translate(4px,4px);
}

@media screen and (max-width: 767px) {

  /* モバイル版　タイトルエリア */

  .common-title-area {
    height: 57rem;
  }

  /* モバイル版　事業内容 概要 */

  #s-services {
    padding: 20rem 0 5rem;
  }

  #s-services h1 {
    font-size: 2.986rem;
    letter-spacing: 0.2986rem;
  }

  #s-services h2 {
    font-size: 6rem;
    text-align: center;
    letter-spacing: 0.6rem;
  }

  #s-services h2 span {
    font-size: 7rem;
  }

  .circle-flex {
    display: block;
    margin: 0 8rem;
  }

  .services-guide {
    font-size: 2.986rem;
    letter-spacing: 0.1493rem;
    margin-top: 5rem;
    width: 100%;
    height: 29rem;
    padding: 3rem;
  }

  .circle-position {
    margin-top: 15rem;
  }

  #s-services .circle-title {
    width: 20rem;
    height: 20rem;
    line-height: 20rem;
    font-size: 2.488rem;
    margin-top: -5rem;
    box-shadow: 0.7rem 0.7rem 0.7rem #7ebaf6;
    letter-spacing: 0.144rem;
  }

  .consulting-circle span {
    font-size: 1.7rem;
  }

  .circle {
    margin: 10rem auto;
    width: 40rem;
    height: 40rem;
  }

  .circle-logo {
    top: 55%;
  }

  .s-services-flex {
    gap: 20rem;
    top: 20rem;
  }

  /* モバイル版　事業内容 詳細 */

  .services-guide-title span {
    font-size: 7rem;
  }

  .services-guide-title h2 {
    font-size: 5rem;
  }

  .services-guide-flex {
    flex-direction: column-reverse;
  }

  .services-guide-text {
    font-size: 2.986rem;
    margin: 0 auto;
    width: 100%;
  }

  .services-img {
    width: 100%;
    text-align: center;
  }

  #program-production h3 {
    font-size: 4rem;
  }

  #program-production h3:before {
    left: 35%;
  }

  #program-production h3:after{
    right: 35%;
  }

  #program-production h4 {
    font-size: 3rem;
  }

  #program-production h4 span {
    font-size: 3.5rem;
  }

  .achievement {
    padding: 6rem 8rem;
    margin-top: 6rem;
  }

  .achievement p {
    font-size: 2.5rem;
  }

  .swiper-text h5 {
    font-size: 3rem;
  }

  .swiper-text p {
    font-size: 2.5rem;
  }

  .services-img img {
    object-fit: cover;
    width: 60rem;
    height: 30rem;
  }

  #ses h3 {
    font-size: 4rem;
  }

  #ses h3:before {
    left: 35%;
  }

  #ses h3:after{
    right: 35%;
  }

  #ses h4 span {
    font-size: 3rem;
  }

  #ses h4 {
    font-size: 2.5rem;
  }

  #ses .services-guide-flex {
    flex-direction: column;
  }

  #consulting img {
    object-fit: cover;
    width: 60rem;
    height: 30rem;
  }


/* モバイル版お問い合わせ */

  #contact-area {
    padding: 10rem 0;
  }

  #contact-area h1 {
    font-size: 5rem;
    width: 70%;
  }

  #contact-area p {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 10rem;
  }

  .contact-area-btn p {
    box-shadow: 0.3rem 0.6rem #195998;
    padding: 3rem 4rem;
    font-size: 2.986rem;
    width: 35rem;
  }

  .top-btn p {
    font-size: 2.074rem;
    letter-spacing: 0.1493rem;
    padding: 2rem 4rem;
    box-shadow: 0.3rem 0.6rem rgb(147, 147, 103);
    background-color: rgb(250, 211, 70);
    text-align: center;
    width: 12.5rem;
  }
}